layout {
  pane size=1 borderless=true {
    plugin location="zellij:tab-bar"
  }
  pane split_direction="vertical" {
    pane name="neogo" focus=true size="60%"
    pane name="test" command="gotestsum" {
      args "./..." "-coverprofile=coverage.out" "-coverpkg=./..." "-short"
    }
  }
  pane size=1 borderless=true {
    plugin location="zellij:status-bar"
  }
}

