layout {
  pane size=1 borderless=true {
    plugin location="zellij:tab-bar"
  }
  pane split_direction="vertical" {
    pane name="neogo" focus=true size="60%"
    pane split_direction="horizontal" {
      pane name="test" command="fish" size="65%" {
        args "-c" "gotesti -short"
      };
      pane name="grammar" edit="cypher.ebnf"
    }
  }
  pane size=1 borderless=true {
    plugin location="zellij:status-bar"
  }
}

