name: Integration
on:
  pull_request:
  push:
    branches:
      - main
permissions:
  contents: read
jobs:
  test:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          go mod download
      - name: Run unit-tests
        run: |
          go test -race -covermode=atomic -coverprofile=cov.out -coverpkg=./... -short ./...
      - name: Install goveralls
        run: go install github.com/mattn/goveralls@latest
      - name: Send coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: goveralls -coverprofile=cov.out -service=github
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'
          cache: false
      - name: Install dependencies
        run: |
          go mod download
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          only-new-issues: true
